In [80]:
import requests
import pprint
import pandas as pd
import os
import xml.etree.ElementTree as ET

In [37]:
import xml.etree.ElementTree as ET

def get_items(response):
    root = ET.fromstring(response.content)
    item_list = []
    for child in root.find('body').find('items'):
        elements = child.findall('*')
        data = {}
        for element in elements:
            tag = element.tag.strip()
            text = element.text.strip()
            # print tag, text
            data[tag] = text
        item_list.append(data)  
    return item_list

In [82]:
code_file = "./data/법정동코드 전체자료.txt"
code = pd.read_csv(code_file, sep='\t')

code.columns = ['code', 'name', 'is_exist']
code = code [code['is_exist'] == '존재']

print(code['code'][0])
print(type(code['code'][0])) ## int64타입

## string으로 변경
code['code'] = code['code'].apply(str)

1100000000
<class 'numpy.int64'>

In [83]:
# year = [str("%02d" %(y)) for y in range(2017, 2022)]
# month = [str("%02d" %(m)) for m in range(1, 13)]
# base_date_list = ["%s%s" %(y, m) for y in year for m in month ]
base_date_list = ["202111","202112","202201","202202","202203","202204"]

In [94]:
gu_list = ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구',
           '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '서울중구',
           '중랑구', '인천동구', '미추홀구', '연수구', '남동구', '부평구', '계양구', '서구', '인천중구','수원시 장안구', '수원시 권선구', '수원시 팔달구', 
           '수원시 영통구', '성남시 수정구', '성남시 중원구', '안산시 상록구', '의정부시', '안양시 만안구', '안양시 동안구', '부천시', 
           '성남시 분당구', '광명시', '평택시', '동두천시', '안산시 단원구', '고양시 덕양구', '고양시 일산동구', '고양시 일산서구', '과천시', 
           '구리시', '남양주시', '오산시', '시흥시', '군포시', '의왕시', '하남시', '용인시 처인구', '용인시 기흥구', '용인시 수지구', 
           '파주시', '이천시', '안성시', '김포시', '화성시', '광주시', '양주시', '포천시', '여주시']
gu_code_list = []
for i in range(len(gu_list)):
    gu_code = code[ (code['name'].str.contains(gu_list[i]) )]
    gu_code = gu_code['code'].reset_index(drop=True)
    gu_code = str(gu_code[0])[0:5]
    gu_code_list.append(gu_code)
sorted(gu_code_list)

['11110',
 '11140',
 '11170',
 '11200',
 '11215',
 '11230',
 '11260',
 '11290',
 '11305',
 '11320',
 '11350',
 '11380',
 '11410',
 '11440',
 '11470',
 '11500',
 '11500',
 '11530',
 '11545',
 '11560',
 '11590',
 '11620',
 '11650',
 '11680',
 '11710',
 '11740',
 '28110',
 '28140',
 '28177',
 '28185',
 '28200',
 '28237',
 '28245',
 '41111',
 '41113',
 '41115',
 '41117',
 '41131',
 '41133',
 '41135',
 '41150',
 '41171',
 '41173',
 '41190',
 '41210',
 '41220',
 '41250',
 '41271',
 '41273',
 '41281',
 '41285',
 '41287',
 '41290',
 '41310',
 '41360',
 '41360',
 '41370',
 '41390',
 '41410',
 '41430',
 '41450',
 '41461',
 '41463',
 '41465',
 '41480',
 '41500',
 '41550',
 '41570',
 '41590',
 '41610',
 '41650',
 '41670']

In [76]:
import requests
import datetime


def sale_data(gu_code, base_date):
    url ="http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcRHTrade?"
    service_key = "AlUCFS55oaHO3YecssapG9Hf0CTFp23Roj27VnlP3ne7Yr34sWeieyrzDTEb1vGbzvjcQhig/Xjmo1EjP2a1GQ=="    
    payload = "LAWD_CD=" + gu_code + "&" + \
              "DEAL_YMD=" + base_date + "&" + \
              "serviceKey=" + service_key + "&"

    res = requests.get(url + payload)
    
    return res

In [77]:
for gu_code in gu_list:
    items_list = []
    for base_date in base_date_list:
        res = sale_data(gu_code, base_date)
        items_list += get_items(res)
    df = pd.DataFrame(items_list) 
    df.to_csv(os.path.join("./data/매매/"+gu_code+"_매매가.csv"), index=False,encoding="euc-kr")

In [79]:
df = pd.read_csv('./data/매매/강남구_매매가.csv', thousands=',', encoding='cp949')
df

EmptyDataError: No columns to parse from file

# 전세가

In [48]:
import requests
import datetime

def lone_data(gu_code, base_date):
    url ="http://openapi.molit.go.kr:8081/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcRHRent?"
    service_key = "AlUCFS55oaHO3YecssapG9Hf0CTFp23Roj27VnlP3ne7Yr34sWeieyrzDTEb1vGbzvjcQhig/Xjmo1EjP2a1GQ=="    
    payload = "LAWD_CD=" + gu_code + "&" + \
              "DEAL_YMD=" + base_date + "&" + \
              "serviceKey=" + service_key + "&"

    res = requests.get(url + payload)
    
    return res

In [49]:
for gu_code in gu_code_list:
    items_list = []
    for base_date in base_date_list:
        res = lone_data(gu_code, base_date)
        items_list += get_items(res)
    df = pd.DataFrame(items_list) 
    df.to_csv(os.path.join("./data/전세/"+gu_code+"_전세가.csv"), index=False,encoding="euc-kr")

# 매매가 데이터 합치기

In [61]:
sale_df = pd.read_csv('./data/매매/11110_매매가.csv', thousands=',', encoding='cp949')
sale_df = sale_df[['년', '월', '거래금액']]
sale_df = [sale_df['거래금액'].mean()]


lone_df = pd.read_csv('./data/전세/11110_전세가.csv', thousands=',', encoding='cp949')
lone_df = lone_df[['년','월','월세금액','보증금액']]
lone_df = lone_df[lone_df['월세금액'] == 0].drop(['월세금액'], axis=1).reset_index(drop=True)
lone_df = [lone_df['보증금액'].mean()]

df = pd.DataFrame({'매매가':sale_df, '전세가':lone_df})
df

            매매가           전세가
0  46551.595745  29484.561151

In [67]:
sale_list = []
lone_list = []
for gu_code in gu_code_list:
    sale_df = pd.read_csv('./data/매매/'+gu_code+'_매매가.csv', thousands=',', encoding='cp949')
    sale_df = sale_df[['년', '월', '거래금액']]
    sale_df = sale_df['거래금액'].mean()

    lone_df = pd.read_csv('./data/전세/'+gu_code+'_전세가.csv', thousands=',', encoding='cp949')
    lone_df = lone_df[['년','월','월세금액','보증금액']]
    lone_df = lone_df[lone_df['월세금액'] == 0].drop(['월세금액'], axis=1).reset_index(drop=True)
    lone_df = lone_df['보증금액'].mean()
    
    sale_list.append(sale_df)
    lone_list.append(lone_df)

In [69]:
data = pd.DataFrame({'지역코드':gu_code_list, '매매가':sale_list, '전세가':lone_list})
data['전세가율'] = data['전세가'] / data['매매가']
data

     지역코드           매매가           전세가      전세가율
0   11680  60651.149474  33386.354858  0.550465
1   11740  33607.249135  24663.548313  0.733876
2   11305  23349.789424  18705.146104  0.801084
3   11500  24556.606794  22250.464333  0.906089
4   11620  27173.798255  22785.936404  0.838526
..    ...           ...           ...       ...
67  41590  11938.062738  13734.363118  1.150468
68  41610  20502.588082  18145.555050  0.885037
69  41360  15670.344435  12605.484061  0.804417
70  41650   9924.072386  10329.212329  1.040824
71  41670  17621.771429  10725.925926  0.608675

[72 rows x 4 columns]

In [70]:
data.to_csv(os.path.join("./data/수도권크롤링.csv"), index=False,encoding="euc-kr")