In [26]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [27]:
import sys                                               ## 파이썬 엔진에 대한 정보를 관리하는 모듈을 사용한다. 
from matplotlib import font_manager, rc                  ## 폰트를 관리하는 함수와 설정 함수를 사용한다. 

if sys.platform  == 'darwin':                             ## MAC OS의 이름을 확인한다.
    path = '.....'  
elif sys.platform == 'win32':                             ## Windows 이름을 확인한다.
    path = "font/malgun.ttf"
else:
    print('Unknown system... sorry~~~~') 
    
font_name = font_manager.FontProperties(fname=path).get_name()        ##  폰트가 있는지를 확인한다. 
rc('font', family=font_name)                                          ## 한글 폰트를 시각화 환경에 세팅한다. 
plt.rcParams['axes.unicode_minus'] = False

In [28]:
data = pd.read_csv("data/price/오피스텔매매가격.csv", encoding = "CP949")
data1 = data[['2019.01', '2019.07', '2020.01']]
data1 = data1.iloc[1]
data1 = pd.DataFrame(data1)
data1.index = ["2019년 01월", "2019년 07월", "2020년 01월"]
data1.columns = ["전국"]
data1 = data1.T
data1

   2019년 01월 2019년 07월 2020년 01월
전국    178554    177594    178372

In [29]:
data2 = pd.read_excel("data/price/오피스텔_매매가격.xlsx", header = 10, index_col = "지 역")
data3 = data2[["2020년 07월", "2021년 01월", "2021년 07월", "2022년 01월"]]
data3 = data3.loc[["전국"]]

In [30]:
op = data1.join(data3)

In [31]:
data4 = pd.read_excel("data/price/평균매매가격_단독.xlsx", header = 10, index_col = "지 역")
data5 = data4[["2019년 01월", "2019년 07월", "2020년 01월", "2020년 07월", "2021년 01월", "2021년 07월", "2022년 01월"]]
solo = data5.loc[["전국"]]
display(solo)

data4 = pd.read_excel("data/price/평균매매가격_아파트.xlsx", header = 10, index_col = "지 역")
data5 = data4[["2019년 01월", "2019년 07월", "2020년 01월", "2020년 07월", "2021년 01월", "2021년 07월", "2022년 01월"]]
apt = data5.loc[["전국"]]
display(apt)

data4 = pd.read_excel("data/price/평균매매가격_연립다세대.xlsx", header = 10, index_col = "지 역")
data5 = data4[["2019년 01월", "2019년 07월", "2020년 01월", "2020년 07월", "2021년 01월", "2021년 07월", "2022년 01월"]]
many = data5.loc[["전국"]]
display(many)

display(op)

,2019년 01월,2019년 07월,2020년 01월,2020년 07월,2021년 01월,2021년 07월,2022년 01월
지 역,,,,,,,
전국,285494,289623,293328,298014,302889,344759,351144

    2019년 01월 2019년 07월 2020년 01월 2020년 07월 2021년 01월 2021년 07월 2022년 01월
지 역
전국     349426    344195    366793    380260    401083    491728    514577

,2019년 01월,2019년 07월,2020년 01월,2020년 07월,2021년 01월,2021년 07월,2022년 01월
지 역,,,,,,,
전국,165762,164795,168514,169424,171690,202140,206397

   2019년 01월 2019년 07월 2020년 01월 2020년 07월 2021년 01월 2021년 07월 2022년 01월
전국    178554    177594    178372    203454    204880    208505    216076

In [ ]:
colors = sns.color_palette('Blues',len(data.columns))

plt.rcParams['font.size'] = 15
plt.rcParams['figure.figsize'] = (10, 6)

fig, ax1 = plt.subplots()

ax1.bar(data.T.index, data.T['전국'], label='전국', color=colors)

ax1.plot(data.T.index, data.T['수도권'], label='수도권', linewidth=4, color ='darkgrey', marker='o', markersize=10)

ax1.plot(data.T.index, data.T['지방권'], label='지방권', linewidth=4, color ='orange', marker='o', markersize=10)

ax1.set_xlabel('연도')
ax1.set_ylabel('가격')
               
ax1.legend(loc='best')
plt.show()

In [ ]:
data.T.index