In [42]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import sys
from matplotlib import font_manager, rc, cm                ## 폰트를 관리하는 함수와 설정 함수를 사용한다. 

font_path = './font/malgun.ttf'
font_name = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font_name)

In [44]:
df = pd.read_excel('./data/price/평균전세가격_종합.xlsx', engine='openpyxl', header=10)
df.set_index('지 역', inplace=True)
df_price = df.loc[['전국','수도권','지방권']]

ndf = df_price[['2019년 01월','2019년 07월','2020년 01월','2020년 07월','2020년 01월','2021년 07월','2022년 01월']]
display(ndf)

,2019년 01월,2019년 07월,2020년 01월,2020년 07월,2020년 01월,2021년 07월,2022년 01월
지 역,,,,,,,
전국,190358,187382,193470,196901,193470,248136,255434
수도권,260395,255932,265503,270932,265503,357452,368592
지방권,126718,125094,127572,129176,127572,154849,158838

In [35]:
colors = sns.color_palette('Blues',len(data.columns))

plt.rcParams['font.size'] = 15
plt.rcParams['figure.figsize'] = (20, 12)

fig, ax1 = plt.subplots()

ax1 = ndf

     2019년 01월  2019년 02월
지 역
전국      190358     189717
수도권     260395     259216
지방권     126718     126567